@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wink {
	0% { transform: scaleY(1); }
	20% { transform: scaleY(0.3); }
	40% { transform: scaleY(1); }
	100% { transform: scaleY(1); }
}

.animate-wink {
	animation: wink 1.2s cubic-bezier(0.4,0,0.2,1);
}
